body{
    width:80vw;
    max-width:1000px;
    margin:0 auto;
    overflow-x: hidden;
    font-family: 'Roboto Mono', monospace;
    background-color: rgba(191, 191, 191, 0.2);
    margin-bottom:5em;
}

button{
    display: block;
    border: none;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    border-radius:5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#home{
    color:black;
    text-decoration: none;
    text-align: center;
    display:block;
}

#maker h1{
    font-size:2em;
    margin-top:2em;
    margin-bottom:0;
/*        border-bottom:10px solid black;*/
    text-align: center;
}

#border{
    width:100%;

}

#maker_options{
    display:grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 1em;
}

.options{
    background-color:white;
    border-radius:20px;
    padding:1em; 
    box-shadow: 4px 4px black;
}

.options p{
    min-height:40%;
}

#maker_send h2{
    padding-top:2em;
    border-bottom:5px solid black;
}


#eitherOr h2{
    border-bottom:5px solid black;
}

#eitherOr button{
    background-color:black;
    border:5px solid black;
    width:50%;
    font-size:1.5em;
}

#eitherOr button:hover{
    background-color:white;
}

#eitherOr a:hover >button{
    color:black;
}

#eitherOr{
    margin-bottom:2em;
}

button, a{
    color:white;
    text-decoration: none;
}



#maker_left:hover{
    box-shadow: 4px 4px red;
}

#maker_left button{
    background-color:red;
    border:3px solid red;
}
#maker_left a:hover > button{
    background-color:white;
    color:red;
}



#maker_right button{
    background-color:blue;
    border:3px solid blue;
}

#maker_right:hover{
    box-shadow: 4px 4px blue;
}

#maker_right a:hover >button{
    background-color:white;
    color:blue;
}


#email{
    color:blue;
    font-weight: 700;
}


@media only screen and (max-width:550px){
    #maker_options{
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        grid-row-gap: 1em;
    }
    
    #maker h1{
        border-bottom:10px solid black;
    }
    
    #eitherOr button{
        width:60vw;
    }
    
    #border{
        display:none;
    }
}

