body{
    margin: 5%;
    margin-top:10%;
    font-family: "Roboto Mono", monospace;
}
#titleImg{
    display: none;
    margin: 0 auto;
    width: 54%;
    border: solid;
    border-width: 6px;
    border-color: black;
}
#main{
    display: block;
    margin: 0 auto;
    width: 60%;
    position: relative;
}
#radio{
    display: block;
    margin: 0 auto;
    max-width: 100%;

}

#pieceInfo{
    display:none;
    text-align: center;
    font-size: 18px;
    margin-top:2em;
    width:70%;
    margin:0 auto;
    
}
#bio{
/*    position: absolute;*/
    
/*
    top: 60%;
    left: 15%;
    width: 70%;
*/

}
.knob1{
    position: absolute;
    top: 57%;
    left: 8%;
    width: 40%;
}
.slider{
    position: absolute;
    top: 62%;
    left: 17.5%;
    width: 65%;
}
.button1{
    position: absolute;
    top: 77%;
    left: 44%;
    width: 25%;
}
.button2{
    position: absolute;
    top: 77%;
    left: 37%;
    width: 25%;
}
.button3{
    position: absolute;
    top: 77%;
    left: 30%;
    width: 25%;
}
.knob2{
    position: absolute;
    top: 57%;
    right: 8%;
    width: 40%;

}

button{
    display: block;
    border: 5px solid blue;
    padding: 1rem 2rem;
    margin: 0 auto;
    text-decoration: none;
    border-radius:5px;
    font-size: 1em;
    cursor: pointer;
    text-align: center;
    transition: background 250ms ease-in-out, 
                transform 150ms ease;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-color:white;
    color:blue;
}

a{
    color:white;
    text-decoration: none;
}

button:hover{
    background-color:blue;
}

a:hover > button {
    color:white;
}