body {
  background-color: black;
  font-family: 'Inconsolata', courier, monospace;
  color: white;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.nav {
  height: 105px;
  width: 158px;
  background-image: url("../media/nav/arrow.png");
  background-repeat: no-repeat;
  position: fixed;
  display: inherit;
  transition: width .1s;
}

.nav:hover {
  cursor: crosshair;
  background-image: url("../media/nav/arrowNext2.png");
}

#beta{
  position: fixed;
  display: inherit;
  left: 15px;
  top: 0px;
  font-size: 25px;
}

#up {
  left: 45%;
  top: 35px;
  transform: rotate(270deg);
}

#left {
  top: 45%;
  transform: rotate(180deg);
}

#right {
  left: 89.5%;
  top: 45%;
}

#down {
  left: 45%;
  bottom: 35px;
  transform: rotate(90deg);
}

.members {
  border: 5px solid white;
  height: 100px;
  width: 100px;
  text-align: center;
  background-repeat: no-repeat;
  display: none;
  position: absolute;
}

.members:hover {
  border-color: #932036;
  cursor: crosshair;
}

.lexButt{
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #f6f6f6));
  background:-moz-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-webkit-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-o-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:-ms-linear-gradient(top, #ffffff 5%, #f6f6f6 100%);
  background:linear-gradient(to bottom, #ffffff 5%, #f6f6f6 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=0);
  background-color:#ffffff;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  border-radius:4px;
  border:4px solid #dcdcdc;
  display:inline-block;
  cursor:pointer;
  color:#666666;
  font-size:18px;
  padding:6px 10px;
  text-decoration:none;
}
.lexButt:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #f6f6f6), color-stop(1, #ffffff));
	background:-moz-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-webkit-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-o-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:-ms-linear-gradient(top, #f6f6f6 5%, #ffffff 100%);
	background:linear-gradient(to bottom, #f6f6f6 5%, #ffffff 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f6f6f6', endColorstr='#ffffff',GradientType=0);
	background-color:#f6f6f6;
}
.lexButt:active {
	position:relative;
	top:1px;
}

#mePop {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;

}

#popup-content {
  background-color: #373737;
  margin: 3% auto;
  padding: 20px;
  border: 5px solid rgb(113, 113, 113);
  width: 60%;
  height: 80%;
}

.close {
    color: #aaa;
    float: right;
    display: inline;
    margin-right: 300px;
    margin-top: 45px;
    font-size: 60px;
    font-weight: bold;
}

.close:hover{
  color: black;
}

#me {
  width: 250px;
  height: 250px;
  left: 41.5%;
  top: 30%;
  background-image: url("../media/tree/me/me.png");
  display: inherit;
}

#memories {
  display: none;
}

#swings {
  width: 300px;
  height: 300px;
  margin-top: 25vh;
  margin-left: 5vw;
  display: inherit;
  background-image: url("../media/tree/memories/swings.png");
}

#church {
  width: 300px;
  height: 300px;
  margin-top: 30vh;
  margin-left: 35vw;
  display: inherit;
  background-image: url("../media/tree/memories/church.gif");
}

#taekwondo {
  width: 300px;
  height: 300px;
  margin-top: 15vh;
  margin-left: 65vw;
  display: inherit;
  background-image: url("../media/tree/memories/taekwondo.png");
}

#family {
  display: none;
}

#mom {
  margin-left: 25vw;
  margin-top: 60vh;
  display: inherit;
  background-image: url("../media/tree/people/mom.gif");
}

#dad {
  margin-left: 60vw;
  margin-top: 65vh;
  display: inherit;
  background-image: url("../media/tree/people/dad.png");
}

#brian {
  margin-top: 53vh;
  margin-left: 45vw;
  display: inherit;
  background-image: url("../media/tree/people/brian.gif");
}

#sammy {
  margin-top: 32vh;
  margin-left: 40vw;
  display: inherit;
  background-image: url("../media/tree/people/sammy.gif");
}

#kuhu {
  margin-top: 16vh;
  margin-left: 7vw;
  display: inherit;
  background-image: url("../media/tree/people/kuhu.gif");
}

#moni {
  margin-top: 39vh;
  margin-left: 10vw;
  display: inherit;
  background-image: url("../media/tree/people/moni.png");
}

#em {
  margin-top: 10vh;
  margin-left: 42vw;
  display: inherit;
  background-image: url("../media/tree/people/emily.png");
}

#sam {
  margin-top: 3vh;
  margin-left: 27vw;
  display: inherit;
  background-image: url("../media/tree/people/sam.gif");
}

#sarah {
  margin-top: 37vh;
  margin-left: 28vw;
  display: inherit;
  background-image: url("../media/tree/people/sarah.png");
}

#rov {
  margin-top: 37vh;
  margin-left: 80vw;
  display: inherit;
  background-image: url("../media/tree/people/rov.gif");
}

#greg {
  margin-top: 8vh;
  margin-left: 81vw;
  display: inherit;
  background-image: url("../media/tree/people/greg.png");
}

#tom {
  margin-top: 54vh;
  margin-left: 69vw;
  display: inherit;
  background-image: url("../media/tree/people/tom.gif");
}

#christie {
  margin-top: 41vh;
  margin-left: 56vw;
  display: inherit;
  background-image: url("../media/tree/people/christie.png");
}

#maddy {
  margin-top: 59vh;
  margin-left: 87vw;
  display: inherit;
  background-image: url("../media/tree/people/maddy.png");
}

#starck {
  margin-top: 3vh;
  margin-left: 54vw;
  display: inherit;
  background-image: url("../media/tree/people/starck.gif");
}

#grandma {
  margin-top: 25vh;
  margin-left: 68vw;
  display: inherit;
  background-image: url("../media/tree/people/grandma.png");
}

#dave {
  margin-top: 74vh;
  margin-left: 73vw;
  display: inherit;
  background-image: url("../media/tree/people/dave.gif");
}

#sophie {
  margin-top: 75vh;
  margin-left: 13vw;
  display: inherit;
  background-image: url("../media/tree/people/sophie.gif");
}

#influence {
  display: none;
}

#isakov {
  width: 150px;
  height: 150px;
  margin-top: 10vh;
  margin-left: 13vw;
  display: inherit;
  background-image: url("../media/tree/influences/isakov.png");
}

#destroyer {
  width: 150px;
  height: 150px;
  margin-top: 68vh;
  margin-left: 38vw;
  display: inherit;
  background-image: url("../media/tree/influences/destroyer.png");
}

#blake {
  width: 150px;
  height: 150px;
  margin-top: 17vh;
  margin-left: 47vw;
  display: inherit;
  background-image: url("../media/tree/influences/blake.png");
}

#kanye {
  width: 150px;
  height: 150px;
  margin-top: 57vh;
  margin-left: 19vw;
  display: inherit;
  background-image: url("../media/tree/influences/kanye2.gif");
}

#keaton {
  width: 150px;
  height: 150px;
  margin-top: 48vh;
  margin-left: 53vw;
  display: inherit;
  background-image: url("../media/tree/influences/keaton.png");
}

#frank {
  width: 150px;
  height: 150px;
  margin-top: 62vh;
  margin-left: 76vw;
  display: inherit;
  background-image: url("../media/tree/influences/frank2.gif");
}

#radiohead {
  width: 150px;
  height: 150px;
  margin-top: 6vh;
  margin-left: 82vw;
  display: inherit;
  background-image: url("../media/tree/influences/radiohead2.gif");
}

#other {
  display: none;
}

#weed {
  width: 150px;
  height: 150px;
  margin-top: 25vh;
  margin-left: 68vw;
  display: inherit;
  background-image: url("../media/tree/other/weed.gif");
}

#cigs {
  width: 150px;
  height: 150px;
  margin-top: 65vh;
  margin-left: 58vw;
  display: inherit;
  background-image: url("../media/tree/other/cigs2.gif");
}

#lsd {
  width: 150px;
  height: 150px;
  margin-top: 39vh;
  margin-left: 89vw;
  display: inherit;
  background-image: url("../media/tree/other/lsd2.gif");
}

#ads {
  width: 150px;
  height: 150px;
  margin-top: 69vh;
  margin-left: 31vw;
  display: inherit;
  background-image: url("../media/tree/other/viibryd.png");
}

#cuts {
  width: 150px;
  height: 150px;
  margin-top: 16vh;
  margin-left: 5vw;
  display: inherit;
  background-image: url("../media/tree/other/cuts.png");
}

#hydrox {
  width: 150px;
  height: 150px;
  margin-top: 45vh;
  margin-left: 17vw;
  display: inherit;
  background-image: url("../media/tree/other/hydrox.png");
}

#porn{
  width: 150px;
  height: 150px;
  margin-top: 23vh;
  margin-left: 33vw;
  display: inherit;
  background-image: url("../media/tree/other/porn.gif");
}

#tag {
  position: fixed;
  color: white;
  bottom: 0px;
  left: 30px;
  font-size: 30px;
}

#porn1{

}

#showPorn1{

}

#porn2{
  display: none;
}

#showPorn2{
  display: none;
}

#porn3{
  display: none;
}

#showPorn3{
  display: none;
}

#play{
  display: none;
  position: absolute;
  bottom: 25px;
  right: 125px;
}

#play:hover{
  height: 70px;
  width: 70px;
}

#binaryLex{
  text-align: center;
  margin-top: 10%;
}

#binaryLex:hover{
  color: yellow;
}

.binary{
  display: inline-block;
  margin-left: 12.5%;
  margin-top: 10%;
}

footer {
  position: fixed;
  font-size: 30px;
  bottom: 30px;
  left: 93%;
}

footer a {
  color: #fff;
  background-color: #000000;
  text-decoration: none;
  transition: font-size .1s;
}

footer a:hover {
  font-size: 32px;
}

footer a:visited {
  color: #fff;
}
