body{
    background-color:  black;
    font-family: 'Times New Roman', Times, serif;
}
.question{
    width: 80%;
    margin: 10%;
    text-align: center;
    color: whitesmoke;
    font-size: 34px;
  }

#submit{
    font-size: 30px;
    background-color: black;
    color: antiquewhite;
}

.grid-container {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    grid-column-gap: 5%;
}

.grid-item {
    min-height: 580px;
    max-height: 1000px;
    text-align: center;
}

textarea{
    padding: 0%;
    width: 100%;
    resize: none;
    min-height: inherit;
    max-height: 860px;
    height: 60%;

}
