
body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    font-weight: 700;
    color: blue;
    font-size: 7vh;
    overflow-x: hidden;
    background-image: url("grainybckgd.png");
}

#issue {
    font-size: 3vh;
    position: relative;
    margin-top: 0;
    border-top: 0;
    text-align: center;
    padding-top: 5px;
}

#issue p{
    color:red;
    text-decoration: underline;
}

#issue p:hover{
    color:blue;
    cursor:pointer;
    text-decoration-style: wavy;
}

#wrap{
    display:grid;
    grid-template-columns:repeat(4, .3fr 1fr) .3fr .01fr;
    grid-template-rows:repeat(5, 1fr);
    width:80vw; 
    margin:0 auto;
    min-height: 90vh;
}

#g {

    grid-column:1/2;
    grid-row:1/2;
}

#l {

    grid-column:3/4;
    grid-row:2/3;
}

#y {

    grid-column:5/6;
    grid-row:3/4;
}

#p {

    grid-column:7/8;
    grid-row:4/5;
}

#h {
    grid-column:9/10;
    grid-row:5/6;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: red;
}

a:visited {
    color: blue;
    text-decoration: none;
}

#link1, #link2, #link3, #link4, #slash {
    display: none;
    font-size: 2vh;
    padding-top:7vh;
    padding-left:2vh;
}

#g:hover~#link1 {
    display: inline;
}

#l:hover~#link2 {
    display: inline;
}

#y:hover~#slash {
    display: inline;
}

#p:hover~#link3 {
    display: block;

}

#h:hover~#link4 {
    display: inline;

}

#link1{
    grid-row:1/2;
    grid-column:2/5;
}

#link2{
    grid-row:2/3;
    grid-column:4/7;
}

#slash{
    grid-row:3/4;
    grid-column:6/9;
}

#link3 {
    grid-row:4/5;
    grid-column: 5/7;
}

#link4 {
    grid-row:5/6;
    grid-column:6/9;
}

#back{
    position:sticky;
    bottom:20px;
    left:20px;
    color:red;
}

#back:hover{
   cursor:pointer;
    color:blue;
}



#editor{
    z-index:99;
    display:none;
    min-height:100vh;
    width:100vw;
    position:absolute;
    top:0;
    left:0;
    background-color:rgb(47, 47, 48, .95);
    font-size:.5em;
    color:white;
    padding:1em;
}

#editor p{
    width:90vw;
    margin: 1em auto;
}

#editor p#note{
    width:80%;
    margin:0 auto;
}

#editor p#dismiss{
    text-align: center;
    font-size:.5em;
    color:lightgray;
}
